---
# tasks file for {{ role_name }}
- name: Ensure variables are set correctly
  ansible.builtin.import_tasks: assert.yml
  delegate_to: localhost
  vars:
    ansible_connection: local
  become: false
