# SPDX-FileCopyrightText: 2021 Maxwell G (@gotmax23)
# SPDX-License-Identifier: MIT
---
_installw:
  present: Install
  absent: Remove
{{ 'installw:' }} "{{ '{{' ~ ' ' ~ '_installw' ~ '[' ~ role_name ~ '_state' ']' ~ ' ' ~ '}}' }}"
