---
- name: Converge
  hosts: all
  become: true

  tasks:
    - name: "Include gotmax23.{{ role_name }}"
      ansible.builtin.include_role:
        name: "gotmax23.{{ role_name }}"
{#
# vim: set filetype=yaml.jinja2:
#}
